<template>
<div class="comment d-flex flex-row justify-content-center">
    <div class="comment-container d-flex flex-row justify-content-center ">
        <!-- left -->
        <div class="comment--score d-flex flex-column align-items-center">
            <button @click="countPlus">
                <IconPlus />
            </button>
            <div class="score">{{ count }}</div>
            <button @click="countMinus">
                <IconMinus />
            </button>
        </div>
        <!-- right -->
        <div class="comment--body d-flex flex-column">

            <div class="comment--header d-flex align-items-center">
                <div class="Image-profile"></div>
                <div class="username me-2">Amyrobson</div>
                <div class="create-date me-2"></div>
                <div class="reply-btn d-flex align-items-center ms-auto">
                    <button><IconReply class="me-2" />Reply</button>
                    <button><IconDelete class="me-2" />Delete </button>
                    <button><IconEdit class="me-2" />Edit</button>
                </div>
                <!-- <image-amyrobson /> -->
            </div>
            <div class="comment-content text-start mt-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis saepe harum labore? Animi libero, illum dolore vero quae nam quas earum sequi natus, modi incidunt laudantium, iure eaque quos.
            </div>
        </div>
        <div class="reply-container mt-3s"></div>
    </div>
</div>
</template>
<script>

import IconPlus from '@/components/Icons/IconPlus.vue'
import IconMinus from '@/components/Icons/IconMinus.vue'
import IconReply from '@/components/Icons/IconReply.vue'
import IconDelete from '@/components/Icons/IconDelete.vue'
import IconEdit from '@/components/Icons/IconEdit.vue'
// import amyrobson from '../../../Question/interactive-comments/images/avatars' 


export default {
    name: 'CommentContainer',
    components: {
    IconMinus,
    IconPlus,
    IconReply,
    IconDelete,
    IconEdit
},
    data() {
        return {
            count: 0
        }
    },
    methods: {
        countPlus() {
            this.count +=1
        },
        countMinus() {
            this.count -=1
        }

    },
    
}
</script>
<style lang="scss">
    .comment {
        width: 735px;
        .comment-container{
            padding: 25px;
            gap: 20px;
            background: #ffffff;
            border: radius 10px;
            .comment--score{
                background: #eaecf1;
                border-radius: 5px;
                padding: 5px;
                height: max-content;
                button {
                    outline: none;
                    border: none;
                    background: transparent;
                    line-height: 1;
                }
                .score {
                    margin-block: 5px;
                }
            }
            .comment--body{
                .comment--header{
                    .reply-btn{
                        button{
                            outline: none;
                            border: none;
                            background: transparent;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
</style>