<template>
    <div class="interactive-comment d-flex flex-column align-items-center p-3">
        <CommentContainer />
    </div>
</template>
<script>
import CommentContainer from '@/components/interactiveComments/CommentContainer.vue'
export default {

    components: { CommentContainer }
}
</script>
<style lang="scss">
    .interactive-comment {
        background: #f5f6fa;
    }
</style>