<template>
    <div>
        <div v-if="income===0"><Receipt /></div>

        
        <Taxdeduction />
    </div>
</template>
<script>
import Receipt from '@/components/Taxcalculator/Receipt.vue'
import Taxdeduction from './Taxdeduction.vue'

export default {
    data() {
        return {
            income: 0,
            expense: 0,
            totallIncome: 0,
            TotalTax: 0
        }
    },
    components: {
    Receipt,
    Taxdeduction,
}
}
</script>
<style >
    
</style>