<template>
    <div class="container">
        <h4 class="text-start m-3">รายรับ</h4>
        <div class="receipt-content d-flex flex-column justify-content-center ">
            <label class="text-start">เงินเดือน(บาท)</label>
            <input class="salary d-flex align-self-center" type="number" id="salary" placeholder="เงินเดือน" v-model="Total.salary">
            <label class="text-start">โบนัส(บาท)</label>
            <input class="salary d-flex align-self-center" type="number" id="bonus" placeholder="เงินโบนัส" v-model="Total.bonus">
            <label class="text-start">รายได้อื่นๆเช่น การขายของออนไลน์,รับจ้างฟรีแลนซ์(บาท)</label>
            <input class="salary d-flex align-self-center" type="number" id="other" placeholder="ระบุรายได้ทั้งปี" v-model="Total.other">
            
        </div>
        <button class="btn justify-content-center" @submit.prevent="saveForm">ถัดไป</button>
    </div>
</template>
<script>
export default {
    name: 'Receipt',
    data() {
        return {
            Total: {
                salary: 0,
                bonus: 0,
                other: 0
            },
            total: 0
        }
    },
    methods: {
        saveForm() {
            this.total = this.Total.salary + this.Total.bonus + this.Total.other
            this.$emit('Total',this.total)
        }
    }
}
</script>
<style>
    .container {
        border: 1px solid #eaecf1;
    }
    .receipt-content{
        margin: 10px;
        border: none;
        width: 250px;
        height: 250px;
        border-radius: 25px;
    }
    .salary{
        border-radius: 15px;
        width: 250px;
        height: 40px;

    }
    .btn {
        background: rgb(104, 220, 124);
        border-radius: 25px;
        width: 100px;
        height: 50px;
        margin: 25px;
    }
</style>