<template>
    <div>
        <div class="container">
        <h4 class="text-start m-3">รายรับ</h4>
        <div class="receipt-content flex-column justify-content-center ">
            <label class="text-start ">ค่าลดหย่อนกองทุนสำรองเลี้ยงชีพ(PVD)</label>
            <input class="salary d-flex  align-self-center" type="number" id="" placeholder="เงินเดือน">
            <label class="text-start mt-3">เงินประกันสังคม(บาท)</label>
            <input class="salary d-flex  align-self-center" type="number" id="" placeholder="เงินโบนัส">
            <label class="text-start ">ดอกเบี้ยที่อยู่อาศัย(บาท)</label>
            <input class="salary d-flex align-self-center" type="number" id="" placeholder="ระบุรายได้ทั้งปี">
            
        </div>
        <button class="btn justify-content-center" @submit.prevent="">ถัดไป</button>
    </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style>
    
</style>