<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Example />
  </div>
</template>


<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Example from '@/components/Example/Example.vue'
export default {
  name: 'HomeView',
  components: {
    Example
  }
}
</script>
