<template>
    <div>
        <interacetiveComment />
    </div>
</template>

<script>
import interacetiveComment from '@/components/interactiveComments/index.vue'

export default {
    components: { interacetiveComment }
}
</script>

<style>

</style>