<template>
    <div>
        <Receipt />
    </div>
</template>
<script>
import Receipt from '@/components/Taxcalculator/Receipt.vue'
export default {
    components: {
        Receipt
    }
}
</script>
<style>
    
</style>