<template>
    <div>
        <Taxdeduction />
    </div>
</template>
<script>
import Taxdeduction from '@/components/Taxcalculator/Taxdeduction.vue'
export default {
    components: {
      Taxdeduction
    }
}
</script>
<style>
    
</style>