<template>
    <div class="example-child">
        Example Children: {{ count }}
    </div>
</template>
<script>

export default {
    name: 'Examplechild',
    props: {
        count: {
            type: Number,
            default: 0
        }
    }
}
</script>
<style>
    
</style>