<template>
    <div>
        <button class="mb-3" @click="countNumber">Couter: {{ count }}</button>
        <ExampleChild :count="count" />
    </div>
</template>
<script>
import ExampleChild from '@/components/Example/ExampleChild.vue'
export default {
    name: 'Example',
    components:{
        ExampleChild
    },
    data() {
        return {
            count: 0
        }
    },
    methods: {
        countNumber() {
            this.count += 1
        }
    },
}
</script>
<style>
    
</style>