<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="9">
    <path fill="none" stroke="#FFF" stroke-width="2" d="M1 4.304L3.696 7l6-6" />
  </svg>
</template>

<script>
export default {
  name: "IconMoon",
};
</script>

<style></style>
