<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/interactive-comments" class="px-3">Interactive Comments</router-link> |
    <router-link to="/rest-country-api" class="px-3">Rest Country API</router-link> |
    <router-link to="/todo-app" class="px-3">Todo App</router-link>|
    <router-link to="/receipt" class="px-3">Receipt</router-link>
  </nav>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
